.product-view {    
    min-height: calc(100vh - 65px);
}

.search-bar {
    background-color: grey;    
}

.form-control {
    border-radius: 0;
    background-color: lightgrey;
}

.category {
    color: lightgray;
}

.subcategory a {
    text-transform: uppercase;
    color: black !important;
}

.subcategory a:hover {
    color: rgb(138, 138, 138) !important;
}

.no-link {
   pointer-events: none;
}

img {
    width: 100%;
    transition: all .3s ease-in-out; 
}

.bg-details {
    overflow: hidden;
}


.text-grey { 
    color: rgb(161, 161, 161);
}

.text-light-grey {
    color: rgb(170, 170, 170);
    font-weight: 400;
}

.checked {
    color: rgb(238,232,170);
    font-size: 12px;
}

.unchecked {
    color: rgba(0, 0, 0, 0.425);
    font-size: 12px;
}

.product-details {
    overflow: hidden;
}

