@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Maitree&display=swap');

.product-view {    
    min-height: calc(100vh - 108px);
}

.text-type, .text-basket {
    font-family: 'Fredoka', serif;
}

.search-bar {
    background-color: grey;    
}

.form-control {
    border-radius: 0;
    background-color: lightgrey;
}

.category {
    color: lightgray;
}

.subcategory a {
    text-transform: uppercase;
    color: rgb(121, 120, 120) !important;
}

.subcategory a:hover {
    color: rgb(212, 212, 212) !important;
}

.no-link {
   pointer-events: none;
   border-bottom: 1px solid rgb(153, 153, 153);
}

img {
    width: 100%;
    transition: all .3s ease-in-out;
}

.bg-details {
    overflow: hidden;
    background-image: url(../media/back.jpg); 
}

.product-name {
    min-height: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
     margin: 0;
}

.bg-text {
    background-color: rgba(0, 0, 0, 0.699);
}

.disable {
    pointer-events: none;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

.text-grey { 
    color: rgb(238,232,170);
}

.text-light-grey {
    color: rgb(238,232,170);
    font-weight: 400;
}

.checked {
    color: rgb(238,232,170);
    font-size: 12px;
}

.unchecked {
    color: rgba(0, 0, 0, 0.425);
    font-size: 12px;
}

.image-container {
    overflow: hidden;
}

.product-details {
    padding: 0px;
}

/* product-modal */
.product-modal {
    top: 20%;    
}

.basket-submit:hover {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
}

input.quantity {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.product-modal .modal-content {
    background-color: white !important;
    border-radius: 0;
    border: none !important;
}

.element-id {
    display: none;
}

.basket-view{
    background-color: rgb(255, 246, 246);
    background-image: url('../media/61LLaoqUwFL._UY550_\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 576px){    
    .subcategory-link, .breadcrumbs{
        font-size: 14px;

    }

    .product-name {
        font-size: 14px;
    }
}

