.product-view {    
    min-height: calc(100vh - 65px);
}

.search-bar {
    background-color: grey;    
}

.form-control {
    border-radius: 0;
    background-color: lightgrey;
}

.category {
    color: lightgray;
}

.subcategory a {
    text-transform: uppercase;
    color: black !important;
}

.subcategory a:hover {
    color: rgb(138, 138, 138) !important;
}

.no-link {
   pointer-events: none;
}