.admin-view {    
    min-height: calc(100vh - 65px);
}

.product-form {
    top: 15% !important;
}

.admin-product-details {
    color: rgb(255, 255, 255) !important;
}

.background-text {
    background-color: rgba(3, 3, 3, 0.479);
}

.admin-product-details .name {
    min-height: 40px;
}

@media screen and (max-width: 996px){    
    .background-text  {
        font-size: 12px;
    }
}

@media screen and (max-width: 576px){    
    .background-text  {
        font-size: 10px;
    }
    .admin-product-details {
        top: 50px;
    }
    
}