.Header {
    text-align: center;
}

.side-menu {
    position: absolute;
    left: 0px;
    top: 50px;
}

a {
    text-decoration: none;
    color:antiquewhite;
}

.bg-collapse {
    background-color: rgba(252, 199, 234, 0.548);
}

.fa-solid {
    min-width: 20px;;
}

